<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="/css/footer.css">

    <title>Document</title>
</head>

<body>

    <nav id="footer">
        <div class="mt-1">
            <div class="footer">
                <div class="one">
                    <img id="logo" src="/public/logo/MYE-Logo.png" title="Logo" alt="Logo" />
                    <p class="company-description">A Cloud built by Filipinos, for Filipinos.</p>
                    <p>Copyright 2023 - All Rights Reserved</p>
                </div>

                <div class="two">
                    <h6>Quick links</h6>
                    <div>
                        <ul>
                            <li>Home</li>
                            <li>Products & Services</li>
                            <li>About</li>
                            <li>Contact Us</li>
                        </ul>

                        <ul>
                            <li>FAQ</li>
                            <li>Terms of Service</li>
                            <li>Privacy Policy</li>
                        </ul>
                    </div>

                </div>

                <div class="three">
                    <h6>Contact information</h6>
                    <ul>
                        <li>
                            <i class="fa-solid fa-phone-volume"></i>
                            +1 (234) 567 8910
                        </li>
                        <li>
                            <i class="fa-solid fa-envelope"></i>
                            hello@myecloud.com
                        </li>
                        <li>
                            <i class="fa-sharp fa-solid fa-location-dot"></i>
                            Marajo Tower, 4th Avenue
                            Taguig, Metro Manila, Philippines
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </nav>

</body>

</html>
