<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="/css/nav.css">

    <title>Document</title>
</head>

<body>

    <nav id="navigation">
        <div class="mt-1 nav">
            <img id="logo" src="/public/logo/MYE-Logo.png" title="Logo" alt="Logo" />
            <ul>
                <li>
                    <a class="link-nav" id="home" href="/index.html">Home</a>
                </li>
                <li>
                    <a class="link-nav" id="pro-ser" href="/src/view/products_services.html">Products & Services</a>
                </li>
                <li>
                    <a class="link-nav" id="about" href="/src/view/products_services.html">About Us</a>
                </li>
                <li>
                    <a class="link-nav" id="blogs-news" href="/src/view/products_services.html">Blogs & News</a>
                </li>
                <li>
                    <a class="link-nav" id="join" href="/src/view/products_services.html">Join Our Team</a>
                </li>
                <li>
                    <a class="link-nav" id="contact" href="/src/view/products_services.html">Contact Us</a>
                </li>
                <li>
                    <a class="link-nav" id="login" href="/src/view/products_services.html">Cloud Portal Login</a>
                </li>
            </ul>
        </div>
    </nav>

    <script src="/js/nav.js"></script>

</body>

</html>
